{% extends 'base.html.twig' %}

{% block title %}Home - Vue.js & TailwindCSS Test{% endblock %}

{% block body %}
    <div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
        <!-- Vue.js App Container - Main Content -->
        <div id="app" class="w-full"></div>
    </div>
{% endblock %}