<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <env name="KERNEL_CLASS" value="App\Kernel" />
        <server name="DATABASE_URL" value="postgresql://symfony:change-me@127.0.0.1:5432/symfony?serverVersion=15&amp;charset=utf8" />

        <!-- ###+ lexik/jwt-authentication-bundle ### -->
        <env name="JWT_SECRET_KEY" value="%kernel.project_dir%/config/jwt/private.pem"/>
        <env name="JWT_PUBLIC_KEY" value="%kernel.project_dir%/config/jwt/public.pem"/>
        <env name="JWT_PASSPHRASE" value="ffa5ab7fe7b2e6f0bf53fbb07b2d5723dbadd9c49bdf5803f4d6da4db11db3ed"/>
        <!-- ###- lexik/jwt-authentication-bundle ### -->
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
            <exclude>tests/Domain/Employee/</exclude>
            <exclude>tests/Infrastructure/Controller/Api/</exclude>
            <exclude>tests/Api/</exclude>
            <exclude>tests/Application/UseCase/Employee/</exclude>
        </testsuite>
        <testsuite name="critical">
            <file>tests/Application/UseCase/Employee/CreateEmployee/CreateEmployeeHandlerTest.php</file>
            <file>tests/Application/UseCase/Employee/GetEmployee/GetEmployeeHandlerTest.php</file>
        </testsuite>
        <testsuite name="domain">
            <directory>tests/Domain/Employee/</directory>
        </testsuite>
        <testsuite name="api">
            <directory>tests/Infrastructure/Controller/Api/</directory>
            <directory>tests/Api/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>